<!--<!DOCTYPE html>
<html>
<head>
  <title>DrydevelopmentCom</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %>
</head>
<body>

<%#= yield %>

</body>
</html>-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="<%= @meta_description ? @meta_description : '' %>"/>
	<meta name="keywords" content="<%= @meta_keywords ? @meta_keywords : '' %>"/>
	<title><%= @page_title ? @page_title + ' - Dry Development' : 'Dry Development' %></title>
	<link rel="icon" type="image/png" href="/favicon.png" />
	<%= stylesheet_link_tag 'reset', 'master' %>
	<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.pngFix', 'jquery.innerfade' %>
	<%= yield :head %>
	<script type="text/javascript" language="javascript"> 
	    $(document).ready(function(){ 
          $(document).pngFix(); 
          $("#twitter_update_list").innerfade({ 
            animationtype: 'fade', 
            speed: 750, 
            timeout: 10000, 
            type: 'sequence', 
            containerheight: '28px' 
            }); 
                      $("#banner #images").innerfade({ 
            animationtype: 'fade', 
            speed: 750, 
            timeout: 10000, 
            type: 'random', 
            containerheight: '242px' 
            });
                      $('textarea.wysiwyg').wysiwyg({
            controls: {
            strikeThrough : { visible : true },
            underline     : { visible : true },

            separator00 : { visible : false },

            justifyLeft   : { visible : false },
            justifyCenter : { visible : false },
            justifyRight  : { visible : false },
            justifyFull   : { visible : false },

            separator01 : { visible : false },

            indent  : { visible : false },
            outdent : { visible : false },

            separator02 : { visible : false },

            subscript   : { visible : false },
            superscript : { visible : false },

            separator03 : { visible : false },

            undo : { visible : false },
            redo : { visible : false },

            separator04 : { visible : false },
            separator05 : { visible : false },

            insertOrderedList    : { visible : false },
            insertUnorderedList  : { visible : false },
            insertHorizontalRule : { visible : false },

            separator07 : { visible : false },

            cut   : { visible : false },
            copy  : { visible : false },
            paste : { visible : false },
            insertImage : { visible : false },
            createLink : { visible : false }
          }
        });
        <%= yield :jquery_document_ready %>
      }); 
	</script>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller]%>" class="<%= params[:action]%>">
	<% if Rails.env == "production" %>
		<%= render :partial => "shared/click_tale_top" %>
	<% end %>
	<div id="wrapper">
		<%= render :partial => "shared/header" %>		
		<div id="body" class="rounded">
			<%= yield :layout %>
		</div>
		<%= render :partial => "shared/twitter_bar" %>
		<%= render :partial => "shared/footer" %>
		<div class="clear"></div>
	</div>
	<%= yield :footer_scripts %>
	<% if Rails.env == "production" %>
		<%= render :partial => "shared/google_analytics" %>
		<%= render :partial => "shared/click_tale_bottom" %>
	<% end %>
</body>
</html>
